@model EL.PatientEntity

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.ID)

<div class="form-group">
    @Html.LabelFor(m => m.Patient)
    @Html.TextBoxFor(m => m.Patient, new
    {
        @class = "form-control",
        placeholder = "Patient Name",
        title = "Enter the full name of the patients",
        autofocus = "autofocus"
    })
    <div class="error-placeholder small"></div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Drug)
    @Html.TextBoxFor(m => m.Drug, new
    {
        @class = "form-control",
        placeholder = "Drug Name",
        title = "Enter the drug name"
    })
    <div class="error-placeholder small"></div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Dosage)
    @Html.TextBoxFor(m => m.Dosage, new
    {
        @class = "form-control",
        placeholder = "Dosage",
        type = "text",
        title = "Enter the dosage"
    })
    <div class="error-placeholder small"></div>
</div>
